*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(67, 81, 110);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1%;
    background-color: rgb(17, 17, 17);
    color:rgb(15, 41, 65);
    position: relative;
    height: 40px;
}

h1 {
    margin-left: -1%;
    margin-top: 0px;
    font-size: 200%;
    background-color:rgb(97, 138, 151);
    color: black;
    width: 13%;
    padding-left: 40px;
    padding-bottom: 5px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 350px;
    font-size: 130%;
    text-decoration: underline;
    list-style: none;
    margin-right: 100px;
    padding: 10px;
    background-color: rgb(17,17,17);
}
a {
    background-color: rgb(17,17,17);
}
a:visited {
    color: rgb(179, 179, 255);
}

a:hover {
    color:white;
    font-size: larger;
    transition: .5s;
}
nav {
    background-color: rgb(17, 17, 17);
}
.nav-links li a::after{
    content: "";
    background: rgba(212, 35, 11, 0.733);
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .5s;
    
}

li a:hover::after{
    width: 100%;

}
.banner{
    width: 100%;
    height: 100px;
    display: block;
}
.banner > .banner-image {
    width: 100%;
    height: 170px;
    
}
.img-me {
    width: 158px;
    margin-top: -300px;
    margin-left: 60px;
    border: solid 3px rgb(97, 138, 151);
}
aside {
    margin-left: 200px;
    color: darkcyan;
    display:block;
    justify-content: space-between;
}

#about {
    font-size: 225%;
    margin-left: 175px;
    margin-top: 25px;

}
#contact {
    font-size: 225%;
    margin-left: 175px;
    margin-bottom: 20px;
    text-align: center;
}
#work {
    font-size: 225%;
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 20px;
}
p {
    margin-top: 25px;
    margin-left: 20%;
    margin-right: 100px;
    border-left: 1.5px solid rgba(212, 35, 11, 0.733);
    padding-left: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 150%;
}
.containers {
    border-left: 2.5px solid rgba(212, 35, 11, 0.733);
    border-radius: 800px;
}
.stack {
    width: 746px;
    height: 10px;
    border: 5px solid rgb(179, 179, 255);
    padding: 160px;
    margin-left: 550px;
    margin-right: 268px;
    background-image: url(https://images.unsplash.com/photo-1508896080210-93c377eb4135?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fHRlY2h8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}

.stack .box {
    margin-left: -162px;
    margin-top: 80px;
}
.box{
    width: 150px;
    height: 50px;
    background-color:rgb(179, 179, 255);
    margin-left: -77px;
    margin-top: 10px;
    padding-bottom: 2px;
    color: rgb(83, 59, 26);
    font-family:monospace;

}

.node {
    float: right;
    width: 375px;
    height: 20px;
    border: 5px solid rgb(179, 179, 255);
    padding: 75px;
    margin-left: 550px;
    margin-right: 263px;
    margin-top: 1%;
    background-image: url(https://images.unsplash.com/photo-1583484963886-cfe2bff2945f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTU2fHx0ZWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}

.java {
    width: 375px;
    height: 20px;
    border: 5px solid rgb(179, 179, 255);
    padding: 75px;
    margin-left: 550px;
    margin-right: 268px;
    margin-top: 1%;
    background-image: url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8dGVjaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
}

.mern {
    float: right;
    width: 375px;
    height: 20px;
    border: 5px solid rgb(179, 179, 255);
    padding: 75px;
    margin-left: 550px;
    margin-right: 263px;
    margin-top: 1%;
    background-image: url(https://images.unsplash.com/photo-1496096265110-f83ad7f96608?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHRlY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
}

.css {
    width: 375px;
    height: 20px;
    border: 5px solid rgb(179, 179, 255);
    padding: 75px;
    margin-left: 550px;
    margin-right: 268px;
    margin-top: 1%;
    background-image:url(https://media.istockphoto.com/photos/abstract-technology-background-big-data-digital-line-wave-business-picture-id1319893380?b=1&k=20&m=1319893380&s=170667a&w=0&h=DMXxyCyMZIcOo3Pd1ArhI1mAyxLGBGnJhnxSQvUmmUQ=);
}
footer {
    display: inline-flex;
    bottom: 0;
    width: 50%;
    height: 25px;
    padding-bottom: 100px;
    background-color: rgb(67, 81, 110);
    color: black;
    font-size: 110%;
    margin-top: 2%;
    margin-bottom: 2%;
}
footer p {
    text-decoration:  2px underline darkcyan;
    border-left: 2px solid rgba(212, 35, 11, 0.733);
    padding-left: 40px;
    margin-left: 185px;
    color: bisque; 
}
footer a:hover {
    color: darkcyan;
    font-size: larger;
    transition: .5s;
}
footer a:visited {
    color: bisque;
}
footer a {
    background-color: rgb(67, 81, 110);
}
@media screen and (max-width: 1800px) {

    header {
        background: rgb(17, 17, 17);
        height: 100px;
    }
    nav ul {
        font-size: 125%;
        padding-top: 30px;
    }
    h1 {
        padding-right: 100px;
        
    }
    footer {
        margin-left: -80px;
    }
    .containers {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: -100px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 1000px) {
    .containers {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: -300px;
        padding-right: 0px;
    }

    .stack {
        height: 150px;
        width: 128px;
    }
    footer {
        margin-top: 75px;
        margin-left: 150px;
        font-size: 120%;
        display: block;
    }
    footer p {
        border-left: 0;
    }
}

@media screen and (max-width: 600px) {
    
    header {
        background: rgb(17, 17, 17);
        height: 100px;
    }
    nav ul {
        font-size: 100%;
        display: block;
        padding-left: 85px;
        padding-top: 8px;
        letter-spacing: 3px;
    }
    #about{
        margin-left: 150px;
    }
    p {
        margin-left: 100px;
    }
    h1 {
        padding-right: 100px;
        
    }
    footer {
        margin-top: 50px;
        margin-left: 0px;
        font-size: 120%;
        display: block;
    }
    footer a:hover {
        font-size: 200%;
        transition: .5s;
    }
    
    .containers {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: -545px;
    }
    .stack {
        width: 205px;
    }
    li {
        background-color:rgb(17, 17, 17);
    }
    
}
    
